.insurance__page {
  padding-top: 60px;
  padding-bottom: 120px;
  min-height: 800px;
  background:
          linear-gradient(90deg, @bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          linear-gradient(@bg-color-white (@dot-space - @dot-size), transparent 1%) center,
          @dot-color;
  background-size: @dot-space @dot-space;

}

.insurance__blocks-wrapper {
  display: flex;
  justify-content: space-between;
  .insurance__step-title {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 24px;
    line-height: 30px;
    color: @new-blue;
  }
  .insurance__blocks-wrapper-right {
    width: 31%;
    min-height: 200px;

    .insurance__info {
      margin-bottom: 24px;
      padding: 25px 25px;
      //min-height: 370px;
      box-shadow: 0 10px 28px 0 rgba(54,80,107,.5);
      background-color: white;
      //outline: 1px solid green;
    }
  }
  .insurance__blocks-wrapper-left {
    width: 65%;
    min-height: 200px;
    //background-color: rgba(164, 45, 10, 0.27);
    //outline: 1px solid red;
    .insurance__info {
      min-height: 480px;
      padding: 25px 25px;
      box-shadow: 0 10px 28px 0 rgba(54,80,107,.5);
      background-color: white;
      //outline: 1px solid green;
      .insurance__stars {
        font-size: 18px;
        display: flex;
        width: 130px;
        //padding-left: 110px;
        //margin-bottom: 40px;
        line-height: 22px;
        .insurance__stars-full{
          width: 21px;
          display: inline-block;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            transform: translateY(-52%);
            top: 50%;
            width: 21px;
            height: 20px;
            //background-color: green;
            background: url("../img/icons/star_full.png") center no-repeat;
          }

        }
        .insurance__stars-half {
          &:before {
            background: url("../img/icons/star_half.png") center no-repeat;
          }

        }
        .insurance__stars-empty {
          &:before {
            background: url("../img/icons/star_emp.png") center no-repeat;
          }
        }
      }
      .insurance__invisible {
        display: none;
      }
      .insurance__price-text {
        width: 15%;
        font-family: 'robotomedium', 'Arial', sans-serif;
        font-size: 18px;
        color: @new-blue;
      }
      .insurance__step-title {
        width: 20%;
        color: black;
        font-size: 18px;
        text-align: center;
        .icon__input-svg-wrapper {
          right: 0px;
          top: 4px;
        }

      }
      .insurance__text--first {
        width: 30%;
      }
      .insurance__text--second {
        width: 15%;
      }
      .insurance__text--third {
        width: 130px;
      }
      .insurance__supertitle {
        font-family: 'cuprumbold', 'Arial', sans-serif;
        font-size: 24px;
        line-height: 30px;
        color: @new-blue;
      }
    }
    .test__insurance-wrapper {
      width: 100%;
      margin-bottom: 0;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 25px;
      border-bottom: 1px solid @new-grey;
      &:first-of-type {
        border-bottom: none;
      }
      &:last-of-type {
        border-bottom: none;
      }
    }
    .insurance__btn {
      padding: 10px 45px;
      font-size: 22px;
      line-height: 30px;
      border-radius: 0 22px 22px;
      &--hidden {
        visibility: hidden;
      }
    }
    .btn--disabled:hover::before {
      display: none;
    }
  }
  .insurance__cashback {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-family: 'robotomedium', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: @new-blue;
    background-color: @new-weat;
    border-radius: 5px;
  }
  .insurance__text {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid @new-grey;
    font-size: 18px;
    line-height: 22px;
    color: @new-blue;
    .insurance__text-letter {
      font-family: 'robotomedium', 'Arial', sans-serif;
      color: black;
    }
    .insurance__text-percentage {
      font-family: 'robotomedium', 'Arial', sans-serif;
    }
    &:last-of-type {

      border-bottom: none;
      padding-bottom: 0;
    }
  }
  .insurance__text-icon {
    width: 90%;
    padding-left: 60px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      transform: translateY(-52%);
      top: 50%;
      width: 45px;
      height: 45px;
      //background-color: green;
      background: url("../img/icons/icon.png") center no-repeat;
    }
    &-two{
      &:before {
        background: url("../img/icons/icon-2.png") center no-repeat;
      }
    }
    &-three {
      &:before {
        background: url("../img/icons/icon-1.png") center no-repeat;
      }
    }


    &:last-of-type {
      margin-bottom: 0;
    }
  }

}




//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {}
//Write all styles for tablet-desctop(less than 1280px)
@media (max-width: @mediumWidth)  {

}
//Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {

}

//Write all styles for mobile
@media (max-width: @tabletWidth) {

}