//Write all styles for desktop
.modal {
    /** {
      outline: 1px solid red;
    }*/


 //background-color: black;
  display: none;
  .modal__select-svg {
    margin-top: -11px;
    width: 22px;
  }
  .modal__path-svg {
    margin-top: -11px;
    width: 22px;
  }
  .modal__select-svg1 {
    fill: #325a7e;
  }
}


.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  z-index: 5;
  &--active {
    display: block;
  }
}



.modal--enter {
  width: 400px;
}

.modal--reg {
  width: 400px;
}

.modal__auth,
.modal__forgot-pass {
  position: fixed;
  top: 100px;
  left: 50%;

  display: none;
  margin-left: -200px;

  width: 400px;
  padding: 33px 40px;
  padding-bottom: 52px;
  min-height: 550px;
  background-color: #fff;
  box-shadow: 0 10px 28px 0 rgba(54,80,107,.5);
  border-radius: 20px;
  z-index: 10;
}

.modal__forgot-pass--gift {
  min-height: 390px;
}

.modal__aouth--reg {

  width: 740px;
  margin-left: -370px;
}


.modal--active {
  display: block;
}

.modal__form {
  padding-bottom: 50px;
  border-bottom: 1px solid @light-grey;
  &--mot-table {
    border-bottom: none;
    width: auto;
  }
  &--bye {
    padding-bottom: 0;
  }
  &--callback {
    padding-bottom: 0;
    border-bottom: none;
  }

}

.modal__title {
  margin-bottom: 50px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 40px;
  line-height: 62px;
  text-align: center;

  &--mot {
    text-align: left;
  }
  &--mot2 {
    margin-bottom: 15px;
  }
}



.modal__select-wrapper {
  margin: 0;
  margin-bottom: 30px;
}

.modal__select-wrapper--reg {
  width: 48%;
}

.modal__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__phone {
  width: 100%;
  background-color: transparent;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 40px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 22px;

  border: 2px solid @light-grey;


  &::placeholder {
    // font-size: 16px;
    // line-height: 22px;
    color: #325a7e;
  }
}

.modal__pass-svg {
  position: absolute;
  left: 10px;
  width: 22px;
  top: 50%;
  transform: translateY(-50%);
  &--untransformed {
    transform: none;
    margin-top: -11px;
  }
}

.modal__select-wrapper .icon__date-svg {
  left: 10px;
}

.modal__pass-svg1 {
  fill: #325a7e;
}


.modal__pass-link {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -28px;
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 16px;
  line-height: 22px;
  color: #d4d4d4;
  &:hover {
    color: #000;
  }

}

.modal__phone--short {
  padding-right: 80px;
}

.modal__checkbox {
  display: none;
}



.modal__checkbox-text {
  padding-left: 35px;
  font-size: 16px;
  line-height: 22px;
  color: #999;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 0;

    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid #999999;
  }
}

.modal__checkbox-text--show {
  display: inline-block;
  padding-right: 25px;
  padding-left: 0;
  padding-bottom: 5px;

  &::before {
    content: none;
  }
  &::after {
    position: absolute;
    top: 6px;
    right: 5px;

    content: '';
    width: 12px;
    height: 12px;
    background: url("../img/02-form-main/angle-down.svg") no-repeat center;
  }
}

.modal__checkbox-text--show-up::after {
  background: url("../img/02-form-main/angle-up.svg") no-repeat center;
}

.modal__check-svg {
  position: absolute;
  left: 2px;
  top: 1px;
  display: none;
  width: 20px;
}

.modal__checkbox:checked + .modal__check-svg {
  display: block;
}

.modal__check-svg1 {
  fill: #314762;
}

.modal__checkbox-wrapper {
  margin-top: -15px;
  margin-bottom: 55px;
  &--form-contacts {
    margin-top: 30px;
    margin-bottom: 0px;
    .modal__checkbox:checked + .modal__check-svg {
      fill: @light-blue;
    }
    .modal__checkbox-text{
      cursor: pointer;
    }
    .modal__checkbox-text:before{
      border-color: @light-blue;
    }
  }
  &--mot {
    margin-left: 50px;
    margin-bottom: 0;
  }
}

.form--unauthorised {
  .modal__checkbox-wrapper {
    &--form-contacts {
      display: none;
    }
  }
}

.modal__reg-link-wrapper {
  margin-top: 10px;
  text-align: center;
}

.modal__reg-link {
  display: inline-block;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #000000;

  &:hover {
    color: @yellow-color;
    transition: .3s;
  }

  &:hover .modal__text--underline {
    border-bottom-color: @yellow-color;
  }

}

.modal__text--underline {
  border-bottom: 1px dotted @gray-color;
}

.modal__aouth-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__aouth-social {
  margin-top: 10px ;
  &--bye {
    margin-top: 25px;
  }
}

.modal__social-link::before {
  content: attr(data-title);
  position: absolute;
  top: 42px;
  left: -20px;
  //display: none;
  padding: 2px 5px;
  font-size: 16px;
  line-height: 30px;
  color: #828282;
  border: 1px solid #888;
  //add properties instead of display:none
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal__social-link:hover {
  &::before {
    //display: block;
    //add properties instead of display:block
    visibility: visible;
    opacity: 1;
  }




  .icon__fb-svg1,
  .icon__vk-svg1,
  .icon__googl-svg1 {
      fill: orange;
      transition: 0.3s;
    }
}

.modal__aouth-text {
  width: 58%;
  font-size: 18px;
  line-height: 22px;
}

.modal__auth-text--reg {
  width: 70%;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal__pass-text {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
}

.modal__select-wrapper--pass {
  margin-bottom: 15px;
}


.modal__pass-text-grey {
  margin-bottom: 40px;
  line-height: 18px;
  color: #999;

}

.modal__hi {
  margin-top: 18px;
  margin-bottom: 5px;
  padding-top: 110px;
  font-size: 28px;
  line-height: 62px;
  color: @yellow-color;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -44px;
    content: '';
    width: 90px;
    height: 90px;
    background: url("../img/04-reviews/user-pic-small.png") center no-repeat;
    background-size: 100%;
  }
}

.modal__additional-fields {
  display: none;
}

.modal__show-hide {
  margin-top: -15px;
  margin-bottom: 50px;
}

.modal__show-hide--open.modal__show-hide {
  margin-bottom: 15px;
}

.modal__show-hide--open > .modal__checkbox-text {
  display: none;
}

.modal__show-hide--open .modal__additional-fields {
  display: block;
}

.modal__pass-text--bottom {
  margin-bottom: 10px;
}

.modal__btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__btn-wrapper2 {
  display: flex;
  width: 47%;
  flex-direction: column;
  justify-content: center;
}

.modal__personal {
  width: 50%;
  margin-right: 15px;
  &-link:hover {
    color: @yellow-color;
    transition: .3s;
    border-bottom: none;
  }
}
.modal__bye-title {
  margin-bottom: 0;
}

.modal__bye-text {
  padding: 0 25px;
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.modal__bye-title-inner {
  font-family: 'cuprumbold', 'Arial', sans-serif;
  font-size: 27px;
  line-height: 42px;
  &--margin {
    margin-top: 91px;
  }
}
.modal__bye-text-inner {
  font-size: 17px;
  line-height: 21px;
}

.modal__bye-price {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 122px;
  letter-spacing: -0.05em;

}

.modal__gift-wrapper {
  min-height: 110px;
  margin-bottom: 30px;
  .test__form-thanks-svg {
    left: 50%;
    margin-left: -55px;
  }

}
.modal__gift-wrapper + .modal__pass-text {
  text-align: center;
  margin-bottom: 40px;
}

.modal__stars {
  width: 130px;
  margin-top: -20px;
  margin-bottom: 30px;
  .modal__stars-full {
    width: 21px;
    display: inline-block;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      -webkit-transform: translateY(-52%);
      transform: translateY(-52%);
      top: 50%;
      width: 21px;
      height: 20px;
      background: url(../img/icons/star_full.png) center no-repeat;
    }
  }
  .modal__stars-half {
    &::before {
      background: url(../img/icons/star_half.png) center no-repeat;
    }

  }
  .modal__stars-empty {
    &::before {
        background: url(../img/icons/star_emp.png) center no-repeat;
      }

  }

}

//Write all styles for big-tablet and small desktop
@media (max-width: @desctopWidth)  {
  .modal {}
}

//Write all styles for tablet-desctop(less than 1280px)
@media (max-width: @mediumWidth)  {
  .modal {}
}

///Write styles for tablet (less than 1024px)
@media (max-width: @lowWidth) {
  .modal__phone {
    font-size: 14px;
    line-height: 20px;
  }
  .modal__checkbox-wrapper--mot {
    width: 43%;
  }
}


//Write all styles for mobile
@media (max-width: @tabletWidth) {
  .modal {}
}